<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <style>table th, table td {padding: 5px;}</style>
</head>
<body>

<h1>All Users</h1>

<table border="1">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Age</th>
        <th>Edit</th>
        <th>Delete</th>

    </tr>

    <tr th:each="user : ${users}">
        <td th:utext="${user.id}">brand</td>
        <td th:utext="${user.name}">color</td>
        <td th:utext="${user.surname}">power</td>
        <td th:utext="${user.age}">power</td>
        <td><a th:href="@{/users/{id}/edit(id=${user.getId()})}">Edit</a></td>

        <td><a th:method="DELETE" th:href="@{/users/{id}(id=${user.getId()})}">Delete
        </a></td>

    </tr>


</table>

<br/>


<form action="/users/new" target="_blank">
    <button>Create new user</button>
</form>

</body>
</html>